---
layout: default
---
<div class="home">
  {{ content }}
  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post-item">
        <h2><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {% if post.date_modified %}
          <span class="post-meta">Last update: <strong>{{ post.date_modified | date: date_format }}</strong></span>
        {% else %}
          <span class="post-meta">Written on: <strong>{{ post.date | date: date_format }}</strong></span>
        {% endif %}
        <span class="post-meta"> by {{ post.author }}</span>
        <hr>
        <p>
          {{ post.excerpt | strip_html | truncatewords: 100, "..." }}
        </p>
      </li>
    {% endfor %}
  </ul>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
</div>
