---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {% if page.date_modified %}
          Last updated: <strong>{{ page.date_modified | date: date_format }}</strong>
        {% else %}
          Written on: <strong>{{ page.date | date: date_format }}</strong>
        {% endif %}
      </time>
      {% if page.author %}
        by <strong><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span></strong>
      {% endif %}
    </p>
  </header>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  <footer class="post-footer">
    <p class="post-meta">
      {% for item in page.tags %}
        <a href="{{ site.baseurl }}/tags/#{{ item }}"><span class="tag">{{ item }}</span></a>
      {% endfor %}
    </p>
  </footer>
  <hr class="grey">
  <div class="page-pagination">
    {% if page.previous.url %}
      <a href="{{page.previous.url}}" class="prev">&laquo; {{ page.previous.title }}</a>
    {% endif %}
    {% if page.next.url %}
      <a href="{{page.next.url}}" class="next">{{ page.next.title }} &raquo;</a>
    {% endif %}
  </div>
  <hr>
  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
